body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgb(187, 185, 181);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(157, 132, 132, 0.1);
}

.logo {
    max-width: 500px;
    margin-bottom: 1px;
}

h1 {
    font-family:'Arial Rounded MT Bold';
    font-size: 28px;
    color: rgb(29, 26, 25);
    margin-bottom: 30px;
}

.clone-button {
    font-family:'Arial Rounded MT Bold';
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clone-button:hover {
    background-color: #333333;
}
